{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"prettier",
		"prettier/@typescript-eslint"
	],
	"plugins": ["@typescript-eslint", "react", "react-hooks"],
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		// Agrega tus reglas personalizadas aquí
		"@typescript-eslint/no-unused-vars": "off", // Deshabilita la regla de variables no utilizadas
		"react-native/no-color-literals": "error",
		"react-native/no-raw-text": "error",
		"react-native/no-single-element-style-arrays": "error",
		"react-native/no-unused-styles": "error",
		"react-native/sort-styles": "error"
	}
}
